{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo_url %}
<h2 class="mx-auto mb-5">     

    <h1>{{ mensaje }}</h1>

    <em>Autores!</em></h2>
{% endblock %} 



{% block titulo_autor %}
<h2><em>
    
<ul>

    {% for Autor in autores %}
    <li> {{ Autor.nombre }} {{ Autor.apellido }} </li>
    
    <a class="btn btn-dark btn-xl" href="{% url 'eliminarautor' autor.id %}">Eliminar</a>
    <a class="btn btn-dark btn-xl" href="{% url 'editarautor' autor.id %}">Editar</a>
    <a class="btn btn-dark btn-xl" href="{% url 'autor_borrar' autor.id %}">Borrar</a>
    {% endfor %}



</ul>




</em></h2>
{% endblock %}

{% block boton_cambia %}
<a class="btn btn-dark btn-xl" href="{% url 'crear_autor' %}">Crear Nuevo Autor</a>
{% endblock %}